/* 눈누라는 페이지에서 폰트만 가져온 것 웹폰트로 복사를 걍 사용하면 됨*/

@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@keyframes rotate { /*에니메이션 효과를 rotate라고 하겠다.*/
    50%{/*50프로일 때 (10초일 때 5초만 에니메이션 효과를 넣는다면~)*/
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
    /* 위 아래 코드가 똑같은 기능임 
    from{
        transform: rotate(360deg);
    }
    to {
        transform: rotate(360deg);
    }    
    */
}

html, body{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'GmarketSansMedium';
    background-color: #5B2386;
    color: #FFF;
}

/*메인 콘텐츠*/
#contents{
    display: flex; /*요소들을 똑같은 간격으로 넣어주는 것*/
    justify-content: center;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/*제목 이미지*/
.title{
    display: flex;
    justify-content: center;
    align-items: center;

}

.title .clock_img{
    position: relative; 
    /*이미지 크기 --> 디자이너가 고려할 상황임 ㅋ*/
    width: 265px;
    height: 265px;
}

.title_img{
    position: absolute;
    width: 564px;
}

.title_img img{
    width: 100%;
    height: auto;
}

/*1만 시간의 법칙 설명*/
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.intro .intro_saying{
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    color: #F5DF4D;
    margin-bottom: 50px;
}
.intro .explain{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
    position: relative; /*P테그를 안에 넣기 위해서 릴레이티브가 필요함 이를 여기에 넣어야 따옴표 안에 p의 문장이 제대로 들어옴*/
}
.intro .quotes{
    padding-top: 20px;
}
.intro .explain p{
    position: absolute;
    font-size: 17px;
    line-height: 1.7; /*문자들의 간격*/
}
.intro .explain span{
    font-family: 'GmarketSansBold';
    font-size: 20px;
}