@font-face {
    font-family: 'HSYuji-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.hidden{
    display: none;
}


/* 전체 Body부분 */
body{
    height: 100vh;
    background-position: center;
    /* 특별히 사진을 바둑판이나 그렇게 놓지 않기 위함 */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: 'HSYuji-Regular';
    padding: 0;
    margin: 0;
}

#first_section {
    width: 30vw;
    height: 100%;
    display: flex;
    /* 첫번째 섹션의 요소들을 세로로 정렬한다는 의미 */
    flex-direction: column; 
}

#first_section .clock {

}

#middle_section {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end_section{
    width: 30vw;
    display: flex;
    justify-content: center;
}

#end_section .end_section_wrap {
    display: flex;
    flex-direction: column;
}
#end_section ul li {
    list-style: none;
}
